* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
html {
  width:100%;
  height:100%;
}
body {
  font-family:Helvetica, Arial, sans-serif;
  width:100%;
  height:100%;
  font-size:70%;
}

/* ad background */
a {
  display:block;
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  color:#fff;
  text-decoration:none;
  background:#301D19;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
}

/* general styles of ad components */
/* (No dimensions or font sizes here) */
h1 {
  position:absolute;
  color:#F7F4E7;
  text-shadow:1px 1px 3px #000;
}
h2 {
  background:#fff38c;
  background-image: linear-gradient(bottom, rgb(196,139,96) 0%, rgb(255,244,140) 95%);
  background-image: -o-linear-gradient(bottom, rgb(196,139,96) 0%, rgb(255,244,140) 95%);
  background-image: -moz-linear-gradient(bottom, rgb(196,139,96) 0%, rgb(255,244,140) 95%);
  background-image: -webkit-linear-gradient(bottom, rgb(196,139,96) 0%, rgb(255,244,140) 95%);
  background-image: -ms-linear-gradient(bottom, rgb(196,139,96) 0%, rgb(255,244,140) 95%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(196,139,96)),
    color-stop(0.95, rgb(255,244,140))
  );
  color:#000;
  width:100%;
  position:absolute;
  font-weight:normal;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  -ms-border-bottom-left-radius:5px;
  -o-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  -ms-border-bottom-right-radius:5px;
  -o-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}
img {
  position:absolute;
  -webkit-box-shadow:0 0 4px 4px #00DC87;
  -moz-box-shadow:0 0 4px 4px #00DC87;
  -ms-box-shadow:0 0 4px 4px #00DC87;
  -o-box-shadow:0 0 4px 4px #00DC87;
  box-shadow:0 0 4px 4px #00DC87;
}
p {
  font-style:italic;
  position:absolute;
  text-shadow:1px 1px 4px #000;
}
/* 31 PIXELS HIGH */
@media only screen and (height:31px) {
  h1 {
    width:100%;
    height:100%;
    top:1px;
    left:0;
    font-size:1em;
    line-height:15px;
    text-align:center;
  }
  h1 span {
    display:block;
  }
  h2, p, img {
    display:none;
  }
}
@media only screen and (height:31px) and (min-width:234px) {
  h1 {
    font-size:1.4em;
    top:0;
    line-height:31px;
  }
  h1 span {
    display:inline;
  }
}
@media only screen and (height:31px) and (min-width:440px) {
  h1 {
    width:50%;
  }
  h2 {
    display:block;
    width:50%;
    height:100%;
    line-height:31px;
    top:0;
    right:0;
    text-align:center;
    font-size:1.2em;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topleft:0;
    -ms-border-top-left-radius:0;
    -o-border-top-left-radius:0;
    border-top-left-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;
    -ms-border-bottom-left-radius:0;
    -o-border-bottom-left-radius:0;
    border-bottom-left-radius:0;
  }
}
@media only screen and (height:31px) and (min-width:560px) {
  h1 {
    width:35%;
  }
  h2 {
    width:35%;
    right:30%;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
  }
  p {
    display:block;
    top:0;
    right:0;
    width:30%;
    line-height:31px;
    text-align:center;
  }
}

/* 60 PIXELS HIGH */
@media only screen and (height:60px) {
  h1 {
    width:100%;
    height:40px;
    line-height:19px;
    top:1px;
    left:0;
    font-size:1.3em;
    text-align:center;
  }
  h1 span {
    display:block;
  }
  h2 {
    display:block;
    height:20px;
    line-height:20px;
    padding:0 4%;
    left:0;
    bottom:0;
    text-align:center;
    font-size:.8em;
  }
  p, img {
    display:none;
  }
}
@media only screen and (height:60px) and (min-width:234px) {
  h1 {
    width:100%;
    font-size:1.5em;
    height:38px;
    line-height:38px;
    top:0;
  }
  h1 span {
    display:inline;
  }
  h2 {
    font-size:1.2em;
    height:22px;
    line-height:22px;
  }
}
@media only screen and (height:60px) and (min-width:440px) {
  h1 {
    width:92%;
    left:4%;
    text-align:left;
    font-size:1.9em;
  }
  h2 {
    left:0;
    text-align:left;
  }
  img {
    display:block;
    width:auto;
    height:120px;
    top:-35px;
    right:5%;
  }
}
@media only screen and (height:60px) and (min-width:560px) {
  img {
    display:block;
    width:auto;
    height:120px;
    top:-35px;
    right:30%;
  }
  p {
    display:block;
    top:0;
    right:3%;
    width:23%;
    height:38px;
    line-height:38px;
  }
}
@media only screen and (height:60px) and (min-width:600px) {
  img {
    display:block;
    width:auto;
    height:120px;
    top:-35px;
    right:30%;
  }

}

/* 90 PIXELS HIGH */
@media only screen and (height:90px) {
  h1 {
    width:100%;
    top:2px;
    height:50px;
    line-height:23px;
    left:0;
    font-size:1.4em;
    text-align:center;
  }
  h1 span {
    display:block;
  }
  h2 {
    display:block;
    left:0;
    bottom:0;
    height:40px;
    line-height:20px;
    text-align:center;
    font-size:1.3em;
  }
  h2 span {
    display:block;
  }
  p, img {
    display:none;
  }
}
@media only screen and (height:90px) and (min-width:240px) {
  h1 {
    width:50%;
    height:100%;
    left:5%;
    text-align:left;
  }
  h2 {
    left:0;
    bottom:0;
    padding-left:5%;
    text-align:left;
    font-size:1.3em;
  }
  img {
    display:block;
    width:auto;
    height:110px;
    top:-10px;
    right:5%;
  }
}
@media only screen and (height:90px) and (min-width:300px) {
  h1 {
    font-size:2em;
    line-height:27px;
    height:60px;
  }
  h2 {
    height:30px;
    line-height:30px;
  }
  h2 span {
    display:inline;
  }
}
@media only screen and (height:90px) and (min-width:390px) {
  img {
    right:24%;
  }
  p {
    display:block;
    bottom:35px;
    right:3%;
    width:18%;
    line-height:1.4em;
  }
}
@media only screen and (height:90px) and (min-width:480px) {
  h1 {
    font-size:2.3em;
    width:80%;
    line-height:60px;
  }
  h1 span {
    display:inline;
  }
  img {
    right:4%;
  }
  p {
    display:none;
  }
}
@media only screen and (height:90px) and (min-width:620px) {
  h1 {
    font-size:2.6em;
  }
  img {
    right:20%;
  }
  p {
    display:block;
    bottom:38px;
    width:14%;
    font-size:1.2em;
  }
}

/* 125 PIXELS HIGH */
@media only screen and (height:125px) {
  h1 {
    width:100%;
    top:2px;
    height:65px;
    line-height:30px;
    left:0;
    font-size:1.4em;
    text-align:center;
  }
  h1 span {
    display:block;
  }
  h2 {
    display:block;
    left:0;
    bottom:0;
    height:60px;
    line-height:30px;
    text-align:center;
    font-size:1.3em;
  }
  h2 span {
    display:block;
  }
  p, img {
    display:none;
  }
}
@media only screen and (height:125px) and (min-width:240px) {
  h1 {
    width:50%;
    height:100%;
    left:5%;
    text-align:left;
  }
  h2 {
    left:0;
    bottom:0;
    padding-left:5%;
    text-align:left;
    font-size:1.3em;
  }
  img {
    display:block;
    width:auto;
    height:135px;
    top:-10px;
    right:5%;
  }
}
@media only screen and (height:125px) and (min-width:300px) {
  h1 {
    font-size:2em;
    line-height:42px;
    height:90px;
  }
  h2 {
    height:35px;
    line-height:35px;
  }
  h2 span {
    display:inline;
  }
}
@media only screen and (height:125px) and (min-width:390px) {
  h1 {
    font-size:3em;
    width:80%;
  }
  img {
    right:4%;
  }
  p {
    display:none;
  }
}
@media only screen and (height:125px) and (min-width:480px) {
  img {
    right:24%;
  }
  p {
    display:block;
    bottom:40px;
    right:3%;
    width:18%;
    line-height:1.4em;
    font-size:1.3em;
  }
}
@media only screen and (height:125px) and (min-width:620px) {
  h1 {
    font-size:2.8em;
    line-height:90px;
    left:3%;
  }
  h1 span {
    display:inline;
  }
  h2 {
    padding-left:3%;
  }
  img {
    right:18%;
  }
  p {
    display:block;
    bottom:40px;
    width:13%;
    font-size:1.2em;
  }
}

/* 250 PIXELS HIGH */
@media only screen and (height:250px) {
  h1 {
    width:100%;
    top:2px;
    height:50px;
    line-height:22px;
    left:0;
    font-size:1.4em;
    text-align:center;
  }
  h1 span {
    display:block;
  }
  h2 {
    display:block;
    left:0;
    top:50px;
    height:50px;
    line-height:25px;
    text-align:center;
    font-size:1.3em;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    z-index:100;
  }
  h2 span {
    display:block;
  }
  img {
    height:150px;
    bottom:0;
    right:0;
  }
  p {
    left:4%;
    bottom:6px;
    font-size:1.1em;
    width:92%;
    line-height:1.4em;
  }
  p span {
    display:block;
  }
}
@media only screen and (height:250px) and (min-width:125px) {
  img {
    height:auto;
    width:100%;
  }
}
@media only screen and (height:250px) and (min-width:165px) {
  h1 {
    height:70px;
    line-height:33px;
    font-size:1.8em;
  }
  h2 {
    top:70px;
    height:70px;
    line-height:33px;
    font-size:1.7em;
  }
  img {
    height:110px;
    width:auto;
    right:auto;
  }
  p {
    padding-left:100px;
  }
}
@media only screen and (height:250px) and (min-width:220px) {
  h1 {
    height:90px;
    line-height:43px;
    font-size:1.8em;
    font-size:3em;
  }
  h2 {
    top:90px;
    height:45px;
    line-height:45px;
    font-size:1.7em;
  }
  h2 span {
    display:inline;
  }
  img {
    height:140px;
    width:auto;
    right:auto;
  }
  p {
    padding-left:120px;
    font-size:1.2em;
  }
}
@media only screen and (height:250px) and (min-width:300px) {
  h1 {
    height:120px;
    line-height:63px;
    font-size:3.5em;
  }
  h2 {
    top:130px;
    height:60px;
    line-height:30px;
    font-size:1.4em;
    text-align:left;
    padding-left:120px;
  }
  h2 span {
    display:block;
  }
  img {
    height:120px;
    width:auto;
    right:auto;
    z-index:200;
  }
  p {
    width:100%;
    left:auto;
    padding-left:120px;
    font-size:1.2em;
  }
}
@media only screen and (height:250px) and (min-width:600px) {
  h1 {
    height:120px;
    line-height:120px;
    font-size:4em;
  }
  h1 span {
    display:inline;
  }
  h2 {
    text-align:center;
    padding:0;
    line-height:60px;
    font-size:2.5em;
  }
  h2 span {
    display:inline;
  }
}
@media only screen and (height:250px) and (min-width:820px) {
  h1 {
    font-size:6em;
  }
}

/* 400 PIXELS HIGH */
@media only screen and (height:400px) {
  h1 {
    width:100%;
    top:2px;
    height:70px;
    line-height:33px;
    left:0;
    font-size:1.4em;
    text-align:center;
  }
  h1 span {
    display:block;
  }
  h2 {
    display:block;
    left:0;
    top:70px;
    height:50px;
    line-height:25px;
    text-align:center;
    font-size:1.3em;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    z-index:100;
  }
  h2 span {
    display:block;
  }
  img {
    height:200px;
    bottom:55px;
    left:-20%;
  }
  p {
    left:0;
    bottom:6px;
    font-size:1.1em;
    width:100%;
    line-height:1.4em;
    text-align:center;
  }
  p span {
    display:block;
  }
}
@media only screen and (height:400px) and (min-width:125px) {
  img {
    height:auto;
    width:120%;
    left:-10%;
  }
}
@media only screen and (height:400px) and (min-width:180px) {
  h1 {
    height:70px;
    line-height:33px;
    font-size:1.8em;
  }
  h2 {
    top:70px;
    height:70px;
    line-height:33px;
    font-size:1.7em;
  }
  img {
    width:100%;
    left:0;
  }
}

@media only screen and (height:400px) and (min-width:220px) {
  h1 {
    height:100px;
    line-height:47px;
    font-size:2.4em;
  }
  h2 {
    top:100px;
    height:40px;
    line-height:40px;
  }
  h2 span {
    display:inline;
  }
  img {
    top:140px;
  }
  p span {
    display:inline;
  }
}
@media only screen and (height:400px) and (min-width:300px) {
  h1 {
    height:120px;
    line-height:63px;
    font-size:3.5em;
  }
  h2 {
    top:130px;
    height:100px;
    line-height:47px;
    font-size:2.2em;
  }
  h2 span {
    display:block;
  }
  img {
    width:50%;
    right:auto;
    bottom:0;
    top:auto;
  }
  p {
    width:40%;
    left:55%;
    font-size:1.2em;
    text-align:left;
  }
  p span {
    display:block;
  }
}
@media only screen and (height:400px) and (min-width:445px) {
  h1 {
    height:160px;
    line-height:77px;
    font-size:5em;
  }
  h2 {
    top:160px;
    height:80px;
    line-height:80px;
    font-size:3em;
  }
  h2 span {
    display:inline;
  }
  img {
    height:180px;
    left:auto;
    width:auto;
    right:50%;
  }
  p {
    font-size:1.5em;
  }
}
@media only screen and (height:400px) and (min-width:650px) {
  h1 {
    height:130px;
    line-height:130px;
    font-size:4.6em;
  }
  h1 span {
    display:inline;
  }
  h2 {
    top:130px;
    font-size:4em;
  }
  img {
    height:220px;
  }
  p {
    font-size:1.7em;
  }
}
@media only screen and (height:400px) and (min-width:820px) {
  h1 {
    font-size:6em;
  }
}

/* 400 PIXELS HIGH */
@media only screen and (height:600px) {
  h1 {
    width:100%;
    top:40px;
    height:90px;
    line-height:43px;
    left:0;
    font-size:1.5em;
    text-align:center;
  }
  h1 span {
    display:block;
  }
  h2 {
    display:block;
    left:0;
    top:160px;
    height:50px;
    line-height:25px;
    text-align:center;
    font-size:1.3em;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    z-index:100;
  }
  h2 span {
    display:block;
  }
  img {
    width:160%;
    bottom:100px;
    left:-40%;
  }
  p {
    left:0;
    bottom:30px;
    font-size:1.1em;
    width:100%;
    line-height:1.4em;
    text-align:center;
  }
  p span {
    display:block;
  }
}
@media only screen and (height:600px) and (min-width:180px) {
  h1 {
    font-size:1.8em;
  }
  h2 {
    font-size:1.7em;
  }
  img {
    width:120%;
    left:-10%;
  }
}
@media only screen and (height:600px) and (min-width:220px) {
  h1 {
    font-size:2.5em;
  }
  h2 {
    font-size:2em;
    height:70px;
    line-height:33px;
  }
  img {
    width:100%;
    left:0;
  }
  p {
    font-size:1.6em;
  }
}
@media only screen and (height:600px) and (min-width:280px) {
  h1 {
    font-size:3.3em;
    top:20px;
    height:120px;
    line-height:55px;
  }
  img {
    bottom:0;
    width:110%;
  }
  p {
    text-align:left;
    bottom:10px;
    width:92%;
    left:4%;
  }
  p span {
    display:inline;
  }
}
@media only screen and (height:600px) and (min-width:300px) {
  h1 {
    height:170px;
    top:10px;
    line-height:80px;
  }
  h2 {
    top:180px;
  }
  img {
    bottom:auto;
    top:250px;
    width:100%;
  }
}
@media only screen and (height:600px) and (min-width:350px) {
  h1 {
    font-size:4.2em;
  }
  h2 {
    height:40px;
    line-height:40px;
  }
  h2 span {
    display:inline;
  }
  img {
    top:190px;
  }
}
@media only screen and (height:600px) and (min-width:450px) {
  h1 {
    font-size:5.2em;
  }
  img {
    width:78%;
    left:-10%;
  }
  p {
    width:20%;
    left:73%;
  }
}
@media only screen and (height:600px) and (min-width:580px) {
  h1 {
    height:200px;
    top:10px;
    line-height:95px;
    font-size:6em;
  }
  h2 {
    top:210px;
    font-size:4em;
    height:150px;
    line-height:73px;
  }
  h2 span {
    display:block;
  }
  img {
    height:250px;
    width:auto;
    bottom:0;
    top:auto;
    left:auto;
    right:50%;
  }
  p {
    width:40%;
    left:55%;
  }
}
@media only screen and (height:600px) and (min-width:820px) {
  h1 {
    font-size:6em;
    line-height:200px;
  }
  h1 span {
    display:inline;
  }
}
